.box{
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 2px solid black;
    text-align: center;
}

.one{
    background-color: aquamarine;
    position: relative;
    z-index: 1;
}

.two
{
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
}